.header {
    position:relative;
    transition: all 0.5s;
    z-index: 996;
    width: 100%;
    height: 60px;
    /* padding-left: 20px; */
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header .toggle-sidebar-btn{
      font-size: 32px;
      padding-left: 10px;
      cursor: pointer;
      color:#012970
  }

  @media screen and (max-width:778px) {
    .header {
    position: fixed;
    transition: all 0.5s;
    z-index: 996px;
    /* width: 100%; */
   
    height: 60px;
    /* padding-left: 20px; */
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
  }
  }
  
  