.rsidebar {
  position: fixed;
  /* top: 60px; */
  right: 0px;
  /* bottom: 0px; */
  /* width: 411px; */
  /* width: 100%; */
  /* z-index: 996; */
  /* height: 100%; */
  background-color: white;
  padding-top: 32px;
  color: black;
  /* overflow-y: auto; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: #aab7cf transparent; */
  box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
  transition: width 0.3s ease-in-out;
}
