.trade-table {
  margin-top: 16px;
  border-radius: 12px 12px 0px 0px;
}
.trade-table th {
  width: 180px;
  height: 40px;
  background-color: rgba(231, 231, 231, 1);
  text-align: start;
  border: 0px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: .9rem;
  font-weight: 500;
  border-bottom-width: .5px;
  border-color: rgba(231, 231, 234, 1);
  /* padding-right: 16px; */
}

.trade-table td {
  width: 180px;
  height: 40px;
  text-align: start;
  border: 0px solid black;
  background-color: rgba(250, 247, 255, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: .8rem;
  font-weight: 400;
  border-bottom-width: .5px;
  border-color: rgba(231, 231, 234, 1);
  /* padding-right: 16px; */
}

.trade-log-closed {
  background-color: rgba(192, 249, 229, 1);
  color: rgba(14, 217, 145, 1);
  padding: 2px 10px 2px 10px;
  text-align: center;
  border-radius: 500px;
  font-size:0.9rem;
  font-weight: 400;
  width: 62px;
}
.trade-log-table-btn {
  border-width: 0px;
  background-color: rgba(250, 247, 255, 1);
}

.trade-log-table-btn img {
  height: 24px;
}

.trade-log-bottom {
  background-color: rgba(244, 228, 255, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 0px 0px 12px 12px;
}

.trade-log-bottom-text{
    font-size: 20px;
    font-weight: 400;
}

.trade-log-bottom-text span{
    font-size: 20px;
    font-weight: 500;
}

.trade-log-table-table{
  
   top: 0px;
   right: 50%;
   cursor: pointer;
   background-color: #fff;
   width: 32px;
   height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
}